<div class="page page-profile">

	<div class="row">
		<div class="col-md-6">

			<div class="panel panel-profile">
				<div class="panel-heading text-center bg-info">
					<img alt="" src="images/g1.jpg" class="img-circle img80_80">
					<h3>Dima Kostrub</h3>
					<p>CIO</p>
				</div>
				<div class="list-justified-container">
					<ul class="list-justified text-center">
						<li>
							<p class="size-h3">679</p>
							<p class="text-muted">Tweets</p>
						</li>
						<li>
							<p class="size-h3">575</p>
							<p class="text-muted">Followers</p>
						</li>
						<li>
							<p class="size-h3">23</p>
							<p class="text-muted">Following</p>
						</li>
					</ul>
				</div>
			</div>

			<section class="panel panel-box">
				<div class="panel-left panel-item bg-facebook">
					<p class="size-h1"><i class="fa fa-facebook"></i></p>
					<p>Facebook</p>
				</div>
				<div class="panel-item bg-twitter">
					<p class="size-h1"><i class="fa fa-twitter"></i></p>
					<p>Twitter</p>
				</div>
				<div class="panel-right panel-item bg-google-plus">
					<p class="size-h1"><i class="fa fa-google-plus"></i></p>
					<p>Google Plus</p>
				</div>
			</section>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel mini-box">
                        <span class="box-icon bg-danger">
                            <i class="fa fa-film"></i>
                        </span>
						<div class="box-info">
							<p class="size-h2">39</p>
							<p class="text-muted">Amazing Films</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel mini-box">
                        <span class="box-icon bg-warning">
                            <i class="fa fa-camera"></i>
                        </span>
						<div class="box-info">
							<p class="size-h2">63</p>
							<p class="text-muted">Wonderful Photos</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="panel mini-box">
                        <span class="box-icon bg-success">
                            <i class="fa fa-bookmark-o"></i>
                        </span>
						<div class="box-info">
							<p class="size-h2">55</p>
							<p class="text-muted">New Collections</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel mini-box">
                        <span class="box-icon bg-info">
                            <i class="fa fa-check"></i>
                        </span>
						<div class="box-info">
							<p class="size-h2">34</p>
							<p class="text-muted">Tasks Finised</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-6">

			<div class="panel panel-default">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Profile Info</strong></div>
				<div class="panel-body">
					<div class="media">
						<div class="media-body">
							<ul class="list-unstyled list-info">
								<li>
									<span class="icon glyphicon glyphicon-user"></span>
									<label>User name</label>
									John Doe
								</li>
								<li>
									<span class="icon glyphicon glyphicon-envelope"></span>
									<label>Email</label>
									john@doe.com
								</li>
								<li>
									<span class="icon glyphicon glyphicon-home"></span>
									<label>Address</label>
									Street 123, Avenue 45, Country
								</li>
								<li>
									<span class="icon glyphicon glyphicon-earphone"></span>
									<label>Contact</label>
									(+012) 345 6789
								</li>
								<li>
									<span class="icon glyphicon glyphicon-flag"></span>
									<label>Nationality</label>
									Australia
								</li>
								<li>
									<span class="icon glyphicon glyphicon-globe"></span>
									<label>Website</label>
									www.site.com
								</li>
							</ul>

						</div>
					</div>
				</div>
			</div>

			<section class="panel panel-default">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Progress</strong></div>
				<div class="panel-body" data-ng-controller="ProgressDemoCtrl">
					<p>Tasks</p>
					<progressbar class="progressbar-xs" value="55"></progressbar>
					<p>Messages</p>
					<progressbar class="progressbar-xs" value="43" type="success"></progressbar>
					<p>Notifications</p>
					<progressbar class="progressbar-xs" value="68" type="info"></progressbar>
					<p>Mails</p>
					<progressbar class="progressbar-xs" value="86" type="warning"></progressbar>
					<p>Bugs</p>
					<progressbar class="progressbar-xs" value="77" type="danger"></progressbar>
				</div>
			</section>


		</div>
	</div>

</div>