.text-center(ng-controller="viewCtrl")
	.login-block
		button.btn.btn-lg.btn-goback(type="button" ng-click="disableClick()" ng-disabled="inButtonDisable")
			span.glyphicon.glyphicon-home
			span.space
			span(ng-bind="lcz.enter")
		div(id="vk")