.page-main
	.text-center
		.page-message
			h1 Freelook
	.page-status
		.text-center
			a(href="#/" class="btn btn-lg btn-goback")
				span.glyphicon.glyphicon-home
				span.space
				span= enter
	.page-body
		.row
			.col-md-6
				.panel.panel-default
					.panel-heading
						strong
							span.glyphicon.glyphicon-th.space
							span= vk
					.panel-body
						span
			.col-md-6
				.panel.panel-default
					.panel-heading
						strong
							span.glyphicon.glyphicon-th.space
							span= fb
					.panel-body
						span




