.page-main
	.text-center
		.page-message
			h1 Freelook
		.page-status
			.text-center
	.page-body
		.row
			.col-md-6
				.panel.panel-default
					.panel-heading
						strong
							span.glyphicon.glyphicon-th.space
							span= l.vk
					.panel-body
						span
							a(href="/vk") Далее
			.col-md-6
				.panel.panel-default
					.panel-heading
						strong
							span.glyphicon.glyphicon-th.space
							span= l.fb
					.panel-body
						span
							a(href="/fb") Далее



