.page-main
	.text-center
		.page-message
			h1 Freelook
		.page-status
			.text-center
	.page-body
		.row
			.col-md-6
				.panel.panel-default
					.panel-heading
						strong
							span.glyphicon.glyphicon-th.space
							span= lcz.vk
					.panel-body
						span
							a.text-primary.pull-right(href="/vk")= lcz.next
			.col-md-6
				.panel.panel-default
					.panel-heading
						strong
							span.glyphicon.glyphicon-th.space
							span= lcz.fb
					.panel-body
						span
							a.text-primary.pull-right(href="/fb")= lcz.next



