.page-main
	.text-center
		.page-message
			h1 Freelook
	.page-status
		.text-center
			a(href="#/" class="btn btn-lg btn-goback")
				span.glyphicon.glyphicon-home
				span.space
				span= enter
	.page-body.text-center
		.row
			.col-md-12
				.panel.panel-default
					.panel-heading
						strong
							//span.glyphicon.glyphicon-th
							span
					.panel-body
						span



