//h1 This is a partial
//h2 {{myVar}}
.page-err
	.text-center
		.err-message
			h1 Freelook
		.err-body
			a(href="#/" class="btn btn-lg btn-goback")
				span.glyphicon.glyphicon-home
				span.space
				span Enter
		.err-status
			span

