extends includes/layout
block main-content
	header.top-header.clearfix(data-ng-include="'partials/main/header'" id="header")
	aside(data-ng-include="'partials/main/nav'" id="nav-container")
	section.content
		section.view-container(data-ng-view id="content")
