extends includes/layout
block main-content
	header.top-header.clearfix(ng-include="'views/main/header'" id="header")
	aside(ng-include="'views/main/nav'" id="nav-container")
	section.content
		section.view-container(ng-view id="content")
