doctype
html
	head
		title Freelook
		meta(charset="utf-8")
		include styles
	body(ng-controller="appCtrl")
		block main-content
		footer.text-center
			p &copy; Freelook Info Ltd.
		include lcz
		include scripts
