div.logo.bg-primary
	a(href="/")
		span Freelook
ul(id="nav"
	ng-controller="navCtrl"
	collapse-nav
	slim-scroll
	highlight-active)
	li
		a(href="#/dashboard")
			i.fa.fa-dashboard
				//span(data-i18n="Dashboard")
				span Dashboard