doctype
html
	head
		title Hello
		link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/css/app.css")
	body
		block main-content
		include scripts

