doctype
html
	head
		title Freelook
		meta(charset="utf-8")
		include styles
	body
		block main-content
		footer.container.text-center
			p &copy; Freelook Info Ltd.
		include lcz
		include scripts

